.DS_Store
.bundle
brakeman-*
coverage
dependency-check-*
db/*.sqlite3
script/db/log/*.log
results/
log/*.log
results/
rubocop-*
spec/log/*.log
spec/reports
tmp/
*.swp
*.swo
*~
.idea
\.#*
._*
vendor/
node_modules/